@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #313B72;
  display: flex;
}

.App {
  text-align: center;
  background-color: #313B72;
  overflow-y: auto;
  padding-bottom: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(74, 122, 199);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0D160B;
}
.App #BodyText{
  background-color: rgb(74, 122, 199);
  font-family: Lato;
}

#Navbar {
  display: flex;

  height:5vh;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: transparent;
  border-width: 0.1vw;
  border-left: black;
  border-right: black;
  padding-top: 3vh;
  position: sticky;
  z-index: 1;
  top: 1.5vh;
}

#Navbar .nav-links {
  display: flex;
  gap: 2vw;
  margin-right: 7vw;
}

#Navbar .nav-links a{
  background-color: #C8ADC0;
  text-decoration: none;
  font-family: Space Grotesk;
  font-size: 2vw;
  margin: 0.75vw;
  justify-content: flex-end;
  color: black;
}

#topLink{
  width: 14vw;
  align-self: center;
  position: relative;
  box-sizing: border-box;
  border-style: solid;
  background: #083D77;
  padding: 1% 2.5%;
  box-shadow: 1vh 1vh;
  transition: all ease 0.3s;
}


#topLink:hover{
  box-shadow: 0.5vh 0.5vh;
  top: 0.25vh;
}


.BigParagraph {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: auto;

  background-color: #B1DDF1;
  
  font-family: Space Grotesk;

  color: white;
  border-style: solid;
  border-color: black;

  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh;

  box-shadow: 1vh 1vh;
  box-sizing: border-box;

  max-width: 80%;
  overflow: hidden;
}

div.BigParagraph h1{
  margin: 4vh 6vw;
  color: black;
  font-size: 125%;
  font-family: Space Grotesk;
}

.BigParagraph img{
  flex-shrink: 1;
  margin: 20%;

  max-width: 200%;
  height: auto;
  min-width: none;

  object-fit: contain;
  display: block;
}

.HorizontalList {
  border-style: solid;
  border-color: white;
}

.Projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;

  width: 80vw;
  height: auto; 
  
  background-color: #CBDF90;
  border: solid white;
  
  margin: 10vh auto; 

  padding: 1vh 3vw;

  box-shadow: 2vw 2vh;
}

.Projects div {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  flex-direction: row;
}

.Projects h1 {
  font-family: Space Grotesk;
  text-align: center; 
  margin: 1%; 
}

.Projects img{
  width: 30%;
  height: auto;
  margin: 1% 5%;
}

.Projects video{
  width: 20%;
  height: auto;
  margin: 1% 7.5%;
  float: right;
}

.Projects p{
  margin: 0;
  line-height: 1.5;

  font-family: Space Grotesk;
  text-align: left;
  float: left;
}

#Externship{
  background-color: #F6AE2D;
}

#WHPH{
  background-color: #E9C46A;
}

#Hacklab{
  background-color: #99D19C;
}

#ProjectTitle {
  background-color: #DBB4AD;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 90vw;
}


#AboutMeBox{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}


#ContactBox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10vh;
  margin-left: 5vw;
  width: 90vw;
  font-family: Space Grotesk;
  box-sizing: border-box;
}

#ContactBox a{
  text-decoration: none;
  color: black;
  flex: 1 0 40%;
  padding: 2vh;
  border-style: solid;
  border-color: black;
  margin-left: 5vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-right: 2.5vh;
  font-size: 4vh;
  box-shadow: 3vh 3vh;
  background-color: #F5F5DC;
  transition: all ease 0.3s;
}

#ContactBox a:hover{
  background: lightblue;
  box-shadow: 3.5vh 3.5vh;
  
}

#ContactBox a:first-child{
  flex: 0 1 100%;
}